/* Reset ================================================================================= */
* { margin:0; padding:0; }
body          { font:13px/1.55 Arial, Helvetica, sans-serif; color:#444444; }
img           { border:0; vertical-align:top; }
a             { color:#C90104; text-decoration:none;}
a:focus       { outline:0; }
a:link 		  { color: #C90104; }
a:active,
a:hover       { color: #4F8100; text-decoration:underline;}

.col-main a{ color: #4F8100;}
.col-main a:hover{ color: #C90104;}

/* Headings */
h1            { font-size:20px; font-weight:bold; }
h2            { font-size:18px; font-weight:bold; }
h3            { font-size:16px; font-weight:bold; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }
h3 a:link{float:right;color:#4F8100;font-size:12px; background:url(uparrow.jpg) no-repeat right center;padding-right:12px;}
h3 a{float:right;color:#4F8100;font-size:12px; background:url(uparrow.jpg) no-repeat right center;padding-right:12px;}
h3 a:hover{color:#000;text-decoration:none;}

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin-bottom:14px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
small,big     { font-size:1em; }

pre{ padding:15px; background:#F8F8F8; overflow:auto; font-size:11px;}

ul, ol {
    margin: 0 0 5px 16px;
    list-style: none outside none;
}

.clear{ clear:both;}

/*  Layout */
.wrapper { width:950px; margin:auto auto;  }
h1.title { text-align:center; margin-top:15px; margin-bottom:15px;}

.col2-head {   border-bottom: 1px solid #ddd;    border-top: 1px solid #ddd;    display: block;    float: left;    width: 100%;}
.col2-1 { float:left; width:618px; padding:15px;}
.col2-2 { float:right; width:265px; padding:15px; background:#eee;  }
.toc ul{ list-style:none;}
.themeoptions1, .tocnumber { color:#000000;}
hr{ border:1px solid #ddd;}
.containers { margin-top:25px;} 
.containers h3,.containers h4{ margin-bottom:10px;    clear: both;}

.success { color:#3d6611; }
.error { color:#df280a;  }
.notice { color:#e26703; margin-top:5px; margin-bottom:5px; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; padding:4px 12px !important; font-size:13px !important;  }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; color:#3d6611; }

.img-border{ 
	border: 1px solid #bbbbbb;
	margin-top: 10px;
	margin-bottom:10px;}
.imgarrow{padding-top:5px;padding-right:5px;}
.languages{}
.languages a{color:#4F8100;font-size:12px;font-weight:bold;}
.languages a:hover{color:#000;}
